.mud-dialog-title {
    padding: 12px 16px 6px;
}

.mud-dialog-content {
    padding: 8px 16px;
}

.mud-dialog-actions {
    padding: 6px 12px 10px;
}

.mud-card-content {
    padding: 12px 16px;
}

.mud-card-header {
    padding: 12px 16px 6px;
}
